<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<b>Edit success</b>
<form action="{% url 'events:update' %}" method="post">
{% csrf_token %}
 <br> Username:<input type="text" name="username" value="{{ user.username }}"></br>
        <br>Email_id: <input type="text" name="email" value="{{ user.email }}" ></br>
        <br>first name:<input type="text" name="first_name" value="{{ user.first_name }}"> <br/>

                               <br>last name:<input type="text" name="last_name" value="{{ user.last_name }}"><br/>
    <br><input type="submit" value="update"></br>

</form>

</body>
</html>